extends layout 

block content 
  div.delete-message-content 
    if (message && currentUser.member_type === "admin")
      h2 Delete message?
      form(action=`/messages/delete-message/${message._id}/confirm` method="POST")
        h3.message-title= message.title 
        p.message-text= message.text
        button.confirm(type="submit") Yes
        a.cancel(href="/") Cancel
    else if (message && !currentUser.member_type === "admin")
      p Your account does not have this power.
    else 
      p Message not found.