extends layout 

block content 
  div.delete-message-content 
    if message 
      h2 Delete message?
      form(action=`/messages/delete-message/${message._id}/confirm` method="POST")
        h3= message.title 
        p= message.text
        button(type="submit") Yes
        a(href="/") Cancel
    else 
      p Message not found.