extends layout

block content
  div.index-content
      if messages
        ul.messages
          each message in messages 
            li.message 
              p.text= message.text 
              if currentUser 
                p.author= message.author.full_name 
                p.time= message.timestamp_formatted
      else
        p No messages are here yet...
            