doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.layout
      h1=title
      div.user 
        if (currentUser)
          p Welcome, #{currentUser.name_given} (#[a(href="/users/log-out") Log Out])
        else 
          p Welcome, Guest User
      nav 
        ul 
          li.first 
            a(href="/") Home
          if (currentUser)
            li 
              a(href="/new-message") Create Message
            if (currentUser.member_type === "basic" || "full")
              li.last 
                a(href="/users/upgrade") Upgrade 
          else 
            li
              a(href="/users/sign-up") Create Account
            li.last
              a(href="/users/log-in") Log In
      div.content
        block content
