extends layout

block content 
  div.login-content
    h2 Log in to existing account.
    form(action="", method="post") 
      ul 
        li  
          label(for="username") Email Address: 
          input#username(type="email" name="username" placeholder="user@domain.com" maxLength=200 required="true" autocomplete="username")
        li  
          label(for="password") Password: 
          input#password(type="password" name="password" required="true" autocomplete="current-password")
      button(type="submit") Log In
    if failure
      p.login-error Incorrect login information.