/* #region Global Rules */
:root {
  --bg-1: #333333;
  --bg-2: #5e5e5e;
  --bg-3: #444444;
  --font-1: #ffffff;
  --font-2: #181818;
  --highlight: #00b7ff;
  --bg-message: #b3b3b3;
}

body {
  padding: 0px 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  width: 100%;
  background-color: var(--bg-1);
  color: var(--font-1);
}

a {
  color: var(--highlight);
}

a:hover {
  filter: brightness(80%);
}
/* #endregion */

/* #region Index */
.index-content {
  display: grid;
  justify-items: center;
}

.index-content .messages {
  list-style: none;
  padding: 0;
  display: grid;
  row-gap: 14px;
}

.index-content .message,
.index-content .message-short {
  display: grid;
  grid-template: min-content 1fr min-content min-content / 1fr 1fr;
  grid-template-areas: "title title" "message-text message-text" "author time" "delete delete";
  background-color: var(--bg-message);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 1px 1px 2px rgb(22, 22, 22);
}

.index-content .message p,
.index-content .message-short p {
  margin: 0;
}

.index-content .message .text,
.index-content .message-short .text {
  grid-area: message-text;
  background-color: var(--bg-3);
  font-size: 1.2rem;
  padding: 16px 12px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  overflow-wrap: break-word;
}

.index-content .message .title,
.index-content .message-short .title {
  grid-area: title;
  padding: 8px 12px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--font-2);
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
}

.index-content .message-short .text {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.index-content .message .author {
  grid-area: author;
  padding: 8px 12px;
  color: var(--font-2);
  font-weight: bold;
  border-top: 1px solid black;
}

.index-content .message .time {
  grid-area: time;
  padding: 8px 12px;
  color: var(--font-2);
  border-top: 1px solid black;
  text-align: end;
}

.index-content .message .delete-message {
  grid-area: delete;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 6px;
  font-weight: bold;
  color: red;
}

/* #endregion */

/* #region Layout */
.layout {
  display: grid;
  grid-template-areas: "title user" "nav nav" "main main";
  column-gap: 10px;
  width: 95%;
  max-width: 700px;
}

h1 {
  grid-area: title;
  margin: 0;
  padding: 10px 0;
  align-self: center;
}

.user {
  grid-area: user;
  padding: 10px 0;
  align-self: center;
  display: grid;
  justify-items: end;
}

.user p {
  font-size: 1.3rem;
  text-align: right;
  margin: 0;
}

.user span {
  font-size: 1rem;
  white-space: nowrap;
}

.user a {
  text-decoration: none;
}

nav {
  grid-area: nav;
  border-top: 1px solid var(--bg-2);
  border-bottom: 1px solid var(--bg-2);
}

nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  justify-items: center;
  align-items: center;
}

nav li {
  text-align: center;
}

nav li * {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav li.first {
  justify-self: start;
}

nav li.last {
  justify-self: end;
}

.content {
  grid-area: main;
}
/* #endregion */

/* #region Sign Up, Login, Create Message, Upgrade User */
.signup-content,
.login-content,
.create-message-content,
.upgrade-user-content {
  display: grid;
  justify-items: center;
}

.signup-content form,
.login-content form,
.create-message-content form,
.upgrade-user-content form {
  display: grid;
  justify-items: center;
}

.signup-content ul,
.login-content ul,
.create-message-content ul,
.upgrade-user-content ul {
  list-style: none;
  display: grid;
  row-gap: 8px;
  padding: 0;
}

.signup-content li,
.login-content li,
.create-message-content li,
.upgrade-user-content li {
  display: grid;
  font-size: 1.1rem;
}

.signup-content input,
.login-content input,
.create-message-content input,
.upgrade-user-content input {
  max-width: 175px;
  padding: 5px;
  font-size: 1.1rem;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.create-message-content textarea {
  max-width: 250px;
  height: 200px;
  padding: 5px;
  font-size: 1.1rem;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.signup-content button,
.login-content button,
.create-message-content button,
.upgrade-user-content button {
  width: 170px;
  height: 40px;
  color: var(--font-1);
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--bg-2);
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 1px 1px rgb(20, 20, 20);
}

.signup-content button:hover,
.login-content button:hover,
.create-message-content button:hover,
.upgrade-user-content button:hover {
  background-color: #666666;
}

.signup-content button:active,
.login-content button:active,
.create-message-content button:active,
.upgrade-user-content button:active {
  background-color: #4e4e4e;
  box-shadow: -1px -1px black;
}
/* #endregion */

/* #region Delete Message */
.delete-message-content {
  display: grid;
}

.delete-message-content form {
  display: grid;
  grid-template: repeat(3, min-content) / min-content 1fr;
  grid-template-areas: "title title" "mtext mtext" "confirm cancel";
  column-gap: 12px;
}

.delete-message-content .message-title {
  grid-area: title;
}

.delete-message-content .message-text {
  grid-area: mtext;
}

.delete-message-content .confirm {
  grid-area: confirm;
  width: 170px;
  height: 40px;
  color: var(--font-1);
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--bg-2);
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 1px 1px rgb(20, 20, 20);
}

.delete-message-content .cancel {
  grid-area: cancel;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  text-decoration: none;
  text-align: center;
  color: var(--font-1);
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--bg-2);
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 1px 1px rgb(20, 20, 20);
}

.delete-message-content .confirm:hover,
.delete-message-content .cancel:hover {
  background-color: #666666;
  filter: brightness(100%);
}

.delete-message-content .confirm:active,
.delete-message-content .cancel:active {
  background-color: #4e4e4e;
  box-shadow: -1px -1px black;
}

/* #endregion */
